@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #0b1120;
}
.Toastify__toast {
  max-width: 350px;
  max-height: 80px;
  margin: 10px;
  overflow: hidden;
  padding: 5px;
  word-wrap: break-word;
  border-radius: 8px;
}

.Toastify__toast--success {
  background-color: #4caf50;
  color: white;
}

.Toastify__toast--error {
  background-color: #f44336;
  color: white;
}

.Toastify__toast-icon {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.Toastify__close-button {
  position: absolute;
  right: 8px;
  top: 8px;
  color: white;
}
